{
	"presets": ["@babel/typescript"],
	"plugins": [
		[
			"module-resolver",
			{
				"extensions": [".js", ".jsx", ".ts", ".tsx"],
				"root": ["./src"]
			}
		],
		[
			"babel-plugin-root-import",
			{
				"rootPathSuffix": "src"
			}
		],
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties", { "loose": true }]
	],
	"comments": false
}
